.main {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  background-color: white;
  color: black;
}
