.body {
  width: 100%;
  height: auto;
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.image {
  margin-left: 8rem;
}
.mainImage {
  border-radius: 8px;
}

.slider {
  display: none;
}

.rowImage {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.smallImage {
  border-radius: 5px;
}

.smallImage:hover {
  cursor: pointer;
  /* opacity: 0.5; */
}

.smallImageActive {
  border-radius: 5px;
  opacity: 0.5;
}
/* detail */
.detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}
.company {
  color: #ff7d1a;
  /* font-family: 'Kumbh Sans'; */
}

.title {
  color: #1d2025;
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  color: #68707d;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.realPrice {
  font-weight: bold;
  font-size: 1.5rem;
}

.discount {
  color: #ff7d1a;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentPricePhone {
  display: none;
}

.currentPrice {
  font-weight: bold;
  text-decoration: line-through;
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.calculateQuantity {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.plus {
  padding: 5px;
}

.plus:hover {
  cursor: pointer;
}

.minus {
  padding: 5px;
}

.minus:hover {
  cursor: pointer;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  gap: 1rem;
  background-color: #ff7d1a;
  width: 50%;
}

.add:hover {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
  cursor: pointer;
}

.message {
  color: red;
}

/* phone style */
@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .image {
    width: 100%;
    margin-left: 0;
  }
  .mainImage {
    display: none;
  }
  .slider {
    display: flex;
    flex-direction: column;
  }

  .sliderOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin-top: 50%;
    cursor: pointer;
    padding: 10px;
    width: 100%;
  }

  .previous {
    width: 35px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
  }

  .next {
    width: 35px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
  }

  .mainSlide {
    width: 100%;
    height: 100%;
  }

  .rowImage {
    display: none;
  }
  .smallImage {
    width: 100%;
    height: 20rem;
    border-radius: 8px;
    display: absolute;
  }

  .smallImage:hover {
    /* cursor: pointer; */
    /* opacity: 0.5; */
  }

  /* detail */
  .detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
  }
  .company {
    color: #ff7d1a;
    /* font-family: 'Kumbh Sans'; */
  }

  .title {
    color: #1d2025;
    font-size: 3rem;
    font-weight: bold;
  }

  .subtitle {
    color: #68707d;
  }

  .priceContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .realPrice {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .discount {
    color: #ff7d1a;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .currentPricePhone {
    display: inline;
  }

  .currentPrice {
    display: none;
  }

  .buttonContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .calculateQuantity {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .plus {
    padding: 3px;
  }

  .plus:hover {
    cursor: pointer;
  }

  .minus {
    padding: 3px;
  }

  .minus:hover {
    cursor: pointer;
  }

  .add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;
    background-color: #ff7d1a;
    width: 100%;
  }

  .add:hover {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    cursor: pointer;
  }

  .message {
    color: red;
  }
}
