.container {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  top: 40px;
  padding: 10px;
  border: 1px solid;
  box-shadow: 5px 10px #888888;
  overflow: auto;
}
.listCart {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-top: 5px;
}
.detailCart {
  padding: 2px;
}

.cartImage {
  border-radius: 8px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #ff7d1a;
  margin-bottom: 0px;
  cursor: pointer;
}

.content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
