.header {
  width: 100%;
  height: 4rem;
  padding: 1rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: white;
}
.phoneMenu {
  display: none;
}
/* .logo {
  position: absolute;
} */
.menu {
  padding-top: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 4rem;
  position: absolute;
  left: 30%;
}
.menu li:hover {
  border-bottom: 5px solid #ff7d1a;
  cursor: pointer;
}
.right {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  right: 5%;
  position: absolute;
}
.cart {
  padding: 3px;
  position: relative;
}
.cart:hover {
  cursor: pointer;
}
.quantity {
  background-color: #ff7d1a;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: -30px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    height: 4rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
  }
  .phoneMenu {
    display: inline-block;
    position: absolute;
    left: 1%;
    cursor: pointer;
  }
  .navbarPhone {
    list-style-type: none;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    z-index: 1;
    margin-left: -50px;
    padding: 40px;
  }
  .navbarPhone li:hover {
    border-bottom: 5px solid #ff7d1a;
    cursor: pointer;
  }
  .close {
    width: 2rem;
    padding: 0.5rem;
    margin-left: -20px;
    margin-top: -40px;
    font-weight: bold;
    font-size: x-large;
  }
  .hidden {
    display: hidden;
  }
  .menu {
    display: none;
  }
  .menu li:hover {
    border-bottom: 5px solid #ff7d1a;
    cursor: pointer;
  }
  .right {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    right: 5%;
    position: absolute;
  }
  .cart {
    padding: 3px;
  }
  .cart:hover {
    cursor: pointer;
  }
  .quantity {
    background-color: #ff7d1a;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-left: -30px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
  }
}
